.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(112, 106, 106);
  height: 80px;
  padding: 10px;
  color: white;
  z-index: 800;
}

.App-title {
  font-size: 1em;
}

.App-help {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-help div {
  margin: 0;
  text-align: left;
}

.App-help div.App-help-click {
  margin-right: 14px;
  text-align: right;
}

.App-help-item {
  display: flex;
}

.App-help-click {
  width: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
